
.faq{
	margin: 50px;
}

.faq__item{
	margin-bottom: 20px;
}

.faq__item-header{
	background-color: #eef3f6;
	color: #8e8e8e;
	border-bottom: 3px solid #ffaf02;
	height: 60px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

.faq__item-header:hover{
	border-bottom: 3px solid #292929;
}

.faq__item-active{
    background-color: #ffaf02;
    color: #292929;
	border-bottom: 3px solid #292929;
	animation: background-item 300ms ease-in;
}

.faq__title {
	color: #8e8e8e;
	margin: 0;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

.faq__title-active{
	color: #292929;
	animation: background-item 300ms ease-in;
}

@keyframes background-item {
    0% {
		background-color: #eef3f6;
		color: #8e8e8e;
    }
    100% {
		background-color: #ffaf02;
		color: #292929;
    }
}

.faq__item-footer{
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
}

.footer__none{
	display: none;
}

.footer__block{
	display: block;
	animation: footer-block 500ms ease-in;
}

@keyframes footer-block {
    0% {
		opacity: 0;
    }
    100% {
		opacity: 1;
    }
}

.faq__question{
	margin: 50px;
}

.faq__question label {
	font-size: 16px;
    font-weight: 500;
}

.faq__question button {
	cursor: pointer;
	background-color: #ffaf02;
	border-bottom: 3px solid#292929;
}

.faq__question button:hover {
	border-bottom: 3px solid#ffaf02;
}

.accreditation__ref{
	font-size: 18px;
	color: steelblue;
	text-decoration: underline;
}
.accreditation__ref:hover{
	color: #ffaf02;
	text-decoration: underline;
	transition-duration: 500ms;
}