.block_input{
	width: 100%;
	margin-top: 15px;
}

.label{
	color: red;
}

label {
	display: inline-block;
	width: 100%;
	display: flex;
	
}

.block__input-disrcr{
	color: red;
	/* margin-left: 10px; */
	font-size: 10px;
	/* padding: 4px 5px 0 5px; */
}

.custom-control-label.after-color::after{
	position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border: 1px solid red;
}

.form-control {
	height: 30px;
	width: 98%;
	background-color: #eef3f6;
	font-size: 14px;
	font-style: italic;
	
	border: none;
	border-bottom: 3px solid #eef3f6;
	border-radius: 0;
	padding: 15px 30px;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
}

.form-control:focus {
	border-bottom: 3px solid #ffaf02;
	box-shadow: none;
	background-color: #eef3f6;
}
.contact-form-area textarea.form-control {
	width: 100%;
	height: 200px; 
}

.registr{
	margin:50px;
  }

.registr__form-title{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-bottom: 50px;
    color: black;
	text-align: center;
	margin: 20px;
}

.container__form{
	padding: 30px 30px;
	display: flex;
	flex-direction: column;
} 
  
.block_flex {
	display: flex;
	width: 100%;
	justify-content: center;
}

textarea.form-control {
	width: 100%;
	height: 200px; 
}

.form-control:focus {
    border-bottom: 3px solid #ffaf02;
	box-shadow: none; 
}

.accreditation__subtitle{
	margin-bottom: 50px;
}

.custom-control-label {
	padding-top: 3px;
}


/* Tabs CSS*/
.custom-tabs {
	margin: 0 auto;
	width: 100%;
}

.custom-tabs__content {
	margin: 50px;
}

.nav-tabs {
	border-bottom: none;
	margin-bottom: 50px;
	display: flex;
    justify-content: center;
}

.nav-item {
	cursor: pointer;
	background-color: #eef3f6;
	color: #8e8e8e;
	border-bottom: 3px solid #ffaf02;
	padding: 0 15px;
	height: 50px;
	line-height: 50px;
	margin: 0 2px;
	border-radius: 0;
	font-size: 14px;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
	width: 45%;
	text-align: center;
}

.active {
	background-color: #ffaf02;
	color: #292929;
	border-bottom: 3px solid #292929;
}
  
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.nav-item {
		padding: 0 10px;
	}
}
  
@media only screen and (max-width: 767px) {
	.nav-item {
		padding: 0 10px;
	}
}
  

/* Authorization form */
.auth-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.auth__content{
	width: 35%;
	height: 350px;
	border: 1px solid #292929;
	padding: 30px;
	border-radius: 5px;
	margin: 0 0 50px 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.registr__content{
	border: 1px solid #292929;
	padding: 40px;
	border-radius: 5px;
	margin: 0 0 50px 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.registr__select{
	margin: 20px 0 10px 0;
	width: 35%;
}

.auth__title{
	text-align: center;
	font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: #232323;
}

.auth_button{
	display: inline-block;
	margin: 30px 40px 0 20px;
	width: 90px;
    height: 35px;
    border: none;
    background-color: #eef3f6;
    font-size: 12px;
    font-weight: 600;
    color: #292929;
    cursor: pointer;
    border-bottom: 2px solid #ffaf02;
    transition-duration: 500ms;
}

.auth_button:hover{
	background-color: #292929;
    color: #ffaf02;
}

.subtext span{
	color: red;
}

.subtext{
	display: inline-block;
}

.point{
	pointer-events: none;
}
