.nav-brand{
    width: 200px;
}

.header-area {
    position: relative;
    z-index: 100;
	width: 100%; 
}

.top-header {
    width: 100%;
    height: 60px;
	background-color: #292929; 
}

@media only screen and (max-width: 767px) {
    .top-header {
        height: 80px;
		padding: 15px 0; 
	} 
}

@media only screen and (max-width: 767px) {
    .top-header-content {
        -ms-flex-wrap: wrap;
		flex-wrap: wrap;
	} 
}

.top-headline p {
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 12px;
	font-weight: 400; 
}

.top-headline p span {
	color: #ffaf02;
}

.login-faq-earn-money a {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
	margin-right: 30px;
}

.login-faq-earn-money a:last-child {
	margin-right: 0; 
}

.login-faq-earn-money a:hover {
	color: #ffaf02;
}

.login-faq-earn-money a:focus {
	color: #ffaf02;
}

.login-faq-earn-money a.active {
	color: #ffaf02;
}

.header-newsletter-form {
	margin-left: 100px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-newsletter-form {
		margin-left: 30px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-newsletter-form {
        margin-left: 18px;
		margin-top: 15px;
	}
}
@media only screen and (max-width: 767px) {
    .header-newsletter-form {
    	margin-left: 18px;
		margin-top: 15px;
	}
}

.header-newsletter-form form {
    width: 265px;
    height: 35px;
    background-color: #eef3f6;
    position: relative;
	z-index: 1;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-newsletter-form form {
		width: 220px;
	}
}

.header-newsletter-form form input {
    width: 100%;
    height: 35px;
    border: none;
    background-color: transparent;
    padding: 0 15px;
    font-size: 12px;
	font-style: italic;
}

.header-newsletter-form form button {
    width: 90px;
    height: 35px;
    border: none;
    background-color: #eef3f6;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: 600;
    color: #292929;
    cursor: pointer;
    border-bottom: 2px solid #ffaf02;
    -webkit-transition-duration: 500ms;
	transition-duration: 500ms;
}

.header-newsletter-form form button:hover {
    background-color: #292929;
	color: #ffaf02;
}
  
.login-faq-earn-money{
    display: flex;
    align-items: center;
}

.unblock{
    display: none!important;
}

.login__img{
    width: 40px;
}

.login__img:hover{
    width: 45px;
    transition-duration: 500ms;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
}



